* {
  box-sizing : border-box;
}

// MEDIA QUERY RANGES
$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)";

#top{
  // background-color : red;
  display : flex;
  justify-content: space-between;

  @media #{$medium}{

  }

  @media#{$large}{

  }
}
#topTitle{
  flex: 0 1 69%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.65);

  @media #{$medium}{

  }

  @media#{$large}{

  }

  h1 {
    font-family: 'Amatic SC', cursive;
    color: #264c73;
    font-size: 1000%;
    margin : 0px;

    @media #{$medium}{

    }

    @media#{$large}{

    }

  }
}
#topText{
  border-left: 5px double #5c8a8a;
  flex: 0 1 31%;
  font-family: 'Noticia Text', serif;
  padding: 8px;

  @media #{$medium}{

  }

  @media#{$large}{

  }

  p {
    color: #5c8a8a;
  }
}

#navbar{
  display:flex;
  justify-content: center;
  border-top: 5px double #5c8a8a;
  border-bottom: 5px double #5c8a8a;

  @media #{$medium}{

  }

  @media#{$large}{

  }
}

.navItem {
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: xx-large;
  border-left: 2px double #5c8a8a;
  padding: 0px 20px 0px 20px;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#logIn {
  border-left: none;
}

body {
  background-image: url('./../assets/wov.png');
  background-repeat: repeat;

  @media #{$medium}{

  }

  @media#{$large}{

  }
}

#content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

.photoboxMain{
  flex: 0 1 80%;
  margin: 2%;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

.photobox{
  flex: 0 0 20%;
  justify-content: space-between;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

.photoboxMain img{
  width: 100%;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

.photobox img{
  width: 100%;
  max-width: 500px;
  margin: 5px;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#singleDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#main{
  display:flex;
  flex-flow : column wrap;
  flex: 0 1 69%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#mainImg{
  margin-top: 5%;
  width: 90%

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#mainDesc {
  font-family: 'Noticia Text', serif;
  color: #5c8a8a;
  margin: 1%;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#imageDiv{
  display:flex;
  flex-flow: row wrap;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#thumbs img{
  width: 250px;
  margin: 5%;
  margin-bottom: 5px

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

.thumbBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  flex: 0 1 31%;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

#delete{
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}


h2{
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
  margin:0px;
  font-size: 200%;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

a:link {
  text-decoration: none

  @media #{$medium}{

  }

  @media#{$large}{

  }

}


h3{
  color: white
}

h4 {
  font-family: 'Amatic SC', cursive;
  color: #5c8a8a;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 200%;

  @media #{$medium}{

  }

  @media#{$large}{

  }

}

a {
  color: white;
}

p {
  color : white;
}