* {
  box-sizing : border-box;
}

// MEDIA QUERY RANGES
$medium: "only screen and (min-width:530px)";
$large: "only screen and (min-width:900px)";
$primaryColor: #5c8a8a;

#top{
  display : flex;
  flex-flow: column wrap;
  //background: blue;
  margin-left: 0.5%;
  margin-right: 0.5%;

  @media #{$medium}{
  flex-flow: row nowrap;
  //background-color : green;
  margin-left: 3%;
  margin-right: 3%;
  }

  @media#{$large}{
    //background-color : red;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;

  }
}

#topTitle{
  display: flex;
  background-color: rgba(255, 255, 255, 0.65);
  justify-content: center;

  @media #{$medium}{
    flex: 0 1 69%;
    justify-content: center;
  }

  @media#{$large}{
    flex: 0 1 69%;
    justify-content: center;
  }
}

#topText{
  border-left: 5px double $primaryColor;
  font-family: 'Noticia Text', serif;
  padding: 8px;

  @media #{$medium}{
    flex: 0 1 31%;
  }

  @media#{$large}{
    flex: 0 1 31%;
  }

  p {
    color: $primaryColor;
    margin:0px;

    @media #{$medium}{
    }

    @media#{$large}{
    }
  }
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: #264c73;
  font-size: 1000%;
  margin : 0px;
  font-size: 45px;

  @media #{$medium}{
    font-size: 110px;
  }

  @media#{$large}{
    font-size: 120px;
  }
}

#navbar{
  display:flex;
  justify-content: center;
  border-top: 5px double #5c8a8a;
  border-bottom: 5px double #5c8a8a;

  @media #{$medium}{
  }

  @media#{$large}{
  }
}

.navItem {
  color: $primaryColor;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  border-left: 2px double #5c8a8a;
  padding: 0px 20px 0px 20px;
  font-size: x-large;

  @media #{$medium}{
    font-size: xx-large;
  }

  @media#{$large}{
    font-size: xx-large;
  }
}

#logIn {
  border-left: none;
}

body {
  background-image: url('./../assets/wov.png');
  background-repeat: repeat;
}

#content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
}


.photoboxMain{
    flex: 0 1 90%;
    margin: 2%;

  @media #{$medium}{
    flex: 0 1 80%;
    margin: 2%;
  }

  @media#{$large}{
    flex: 0 1 80%;
    margin: 2%;
  }
}

.photobox{
  justify-content: space-around;
  padding-bottom: 7px;
  flex: 0 1 45%;
  background-color: rgba(255, 255, 255, 0.65);
  margin:5px;
  display:flex;
  align-items: front-end;
  flex-flow: row wrap;

  @media #{$medium}{
    flex: 0 0 30%;
  }

  @media#{$large}{
    flex: 0 0 20%;
  }
}

.thumbContainer{
  margin-right: 7px;
}

.photoboxMain img{
  width: 100%;

  @media #{$medium}{
  }

  @media#{$large}{
  }
}

.photobox img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

}

.thumbContainerImg{
  // background-color: red;
  margin: 10px;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;

  @media #{$medium}{
    width: 100%;
  }

  @media#{$large}{
    width: 100%;
  }
}

#singleDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#main{
  display:flex;
  flex-flow : column wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);

  @media #{$medium}{
    flex: 0 1 69%;
  }

  @media#{$large}{
    flex: 0 1 69%;
  }
}

#mainImg{
  margin-top: 5%;
  width: 90%;

  @media #{$medium}{
  }

  @media#{$large}{
  }
}

#mainDesc {
  font-family: 'Noticia Text', serif;
  color: $primaryColor;
  margin: 1%;

  @media #{$medium}{
  }

  @media#{$large}{
  }
}

#imageDiv{
  display:flex;
  flex-flow: row wrap;
}

#thumbs{
  flex: 0 1 90%;
  display: flex;
  flex-flow: row wrap;

  @media #{$medium}{
    flex: 0 1 30%;
    width: 100%;
  }

  @media#{$large}{
    flex: 0 1 30%;
    width: 250px;
  }
}

#thumbs img{
  margin-top: 5%;
  margin-bottom: 5px;
  width: 100%;

  @media #{$medium}{
    width: 100%;
  }

  @media#{$large}{
    width: 100%;
  }
}

.thumbBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 50%;
  flex: 0 1 49%;
  padding-left:3px;
  padding-right: 3px;
  background-color: rgba(255, 255, 255, 0.65);



  @media#{$medium}{
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    flex: 0 1 90%;
  }

  @media#{$large}{
    max-width: 500px;
    flex: 0 1 90%;
  }
}

#delete{
  color: $primaryColor;
  font-family: 'Amatic SC', cursive;
}

#editButton{
  color: $primaryColor;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  margin-top: 20px;
}

#form{
  background-color: rgba(255, 255, 255, 0.65);
  #form1{
    margin-left: 0px;
    padding-left: 5px;

    @media #{$medium}{
      margin-left: 15px;
      margin-right:15px;
      padding-bottom: 15px;
    }

    @media#{$large}{
      margin-left:30px;
      margin-right:30px;
      padding-bottom: 30px;
    }

    #formContent{

    }
  }
}



h2{
  color: $primaryColor;
  font-family: 'Amatic SC', cursive;
  margin-top:15px;
  background-color: rgba(255, 255, 255, 0.65);
  padding-left: 5px;

  @media #{$medium}{
    padding-left: 15px;
  }

  @media#{$large}{
    font-size: 200%;
    padding-left: 30px;
  }
}

a:link {
  text-decoration: none
}

h3{
  color: white
}

h4 {
  font-family: 'Amatic SC', cursive;
  color: $primaryColor;
  margin: 0px;
  text-align: right;
  font-size: 150%;

  @media #{$medium}{
    font-size: 150%;
  }

  @media#{$large}{
    margin-bottom: 20px;
    font-size: 210%;
  }
}

a {
  color: white;
}

p {
  color: $primaryColor;
  font-size: 14px;

  @media #{$medium}{
    font-size: 14px;
  }

  @media#{$large}{
    font-size:16px;

  }
}