* {
  box-sizing : border-box;
}

#top{
  // background-color : red;
  display : flex;
  justify-content: space-between;
}
#topTitle{
  flex: 0 1 69%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.65);

  h1 {
    font-family: 'Amatic SC', cursive;
    color: #264c73;
    font-size: 1000%;
    margin : 0px;
  }
}
#topText{
  border-left: 5px double #5c8a8a;
  // background-color : orange;
  flex: 0 1 31%;
  font-family: 'Noticia Text', serif;
  padding: 8px;
  p {
    color: #5c8a8a;
  }
}

#navbar{
  display:flex;
  justify-content: center;
  border-top: 5px double #5c8a8a;
  border-bottom: 5px double #5c8a8a;
}

.navItem {
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: xx-large;
  border-left: 2px double #5c8a8a;
  padding: 0px 20px 0px 20px;
}

#logIn {
  border-left: none;
}

body {
  background-image: url('./../assets/wov.png');
  background-repeat: repeat;
}


#content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
}

.photoboxMain{
  flex: 0 1 80%;
}

.photobox{
  flex: 0 0 26%;
}

.photoboxMain img{
  width: 100%;
}
.photobox img{
  width: 100%;
  max-width: 500px;
}

#singleDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#main{
  display:flex;
  flex-flow : column wrap;
  flex: 0 1 69%;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  img{
    margin: 20px;
    opacity: 1;
  }
}

#imageDiv{
  display:flex;
  flex-flow: row wrap;
}

#thumbs img{
  width: 250px;
}

.thumbBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  flex: 0 1 31%;
  background-color: green;
}

h2{
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
}

a:link {
  text-decoration: none
}


h3{
  color: white
}

h4 {
  color: white;
}

a {
  color: white;
}

p {
  color : white;
}