* {
  box-sizing: border-box; }

#top {
  display: flex;
  flex-flow: column wrap;
  margin-left: 0.5%;
  margin-right: 0.5%; }
  @media only screen and (min-width: 530px) {
    #top {
      flex-flow: row nowrap;
      margin-left: 3%;
      margin-right: 3%; } }
  @media only screen and (min-width: 900px) {
    #top {
      justify-content: space-between;
      margin-left: 3%;
      margin-right: 3%; } }

#topTitle {
  display: flex;
  background-color: rgba(255, 255, 255, 0.65);
  justify-content: center; }
  @media only screen and (min-width: 530px) {
    #topTitle {
      flex: 0 1 69%;
      justify-content: center; } }
  @media only screen and (min-width: 900px) {
    #topTitle {
      flex: 0 1 69%;
      justify-content: center; } }

#topText {
  border-left: 5px double #5c8a8a;
  font-family: 'Noticia Text', serif;
  padding: 8px; }
  @media only screen and (min-width: 530px) {
    #topText {
      flex: 0 1 31%; } }
  @media only screen and (min-width: 900px) {
    #topText {
      flex: 0 1 31%; } }
  #topText p {
    color: #5c8a8a;
    margin: 0px; }

h1 {
  font-family: 'Amatic SC', cursive;
  color: #264c73;
  font-size: 1000%;
  margin: 0px;
  font-size: 45px; }
  @media only screen and (min-width: 530px) {
    h1 {
      font-size: 110px; } }
  @media only screen and (min-width: 900px) {
    h1 {
      font-size: 120px; } }

#navbar {
  display: flex;
  justify-content: center;
  border-top: 5px double #5c8a8a;
  border-bottom: 5px double #5c8a8a; }

.navItem {
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  border-left: 2px double #5c8a8a;
  padding: 0px 20px 0px 20px;
  font-size: x-large; }
  @media only screen and (min-width: 530px) {
    .navItem {
      font-size: xx-large; } }
  @media only screen and (min-width: 900px) {
    .navItem {
      font-size: xx-large; } }

#logIn {
  border-left: none; }

body {
  background-image: url("./../assets/wov.png");
  background-repeat: repeat; }

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.photoboxMain {
  flex: 0 1 90%;
  margin: 2%; }
  @media only screen and (min-width: 530px) {
    .photoboxMain {
      flex: 0 1 80%;
      margin: 2%; } }
  @media only screen and (min-width: 900px) {
    .photoboxMain {
      flex: 0 1 80%;
      margin: 2%; } }

.photobox {
  justify-content: space-around;
  padding-bottom: 7px;
  flex: 0 1 50%; }
  @media only screen and (min-width: 530px) {
    .photobox {
      flex: 0 0 30%; } }
  @media only screen and (min-width: 900px) {
    .photobox {
      flex: 0 0 20%; } }

.photoboxMain img {
  width: 100%; }

.photobox img {
  width: 100%;
  padding-left: 3px;
  padding-right: 3px; }
  @media only screen and (min-width: 900px) {
    .photobox img {
      max-width: 500px; } }

#singleDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

#main {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65); }
  @media only screen and (min-width: 530px) {
    #main {
      flex: 0 1 69%; } }
  @media only screen and (min-width: 900px) {
    #main {
      flex: 0 1 69%; } }

#mainImg {
  margin-top: 5%;
  width: 90%; }

#mainDesc {
  font-family: 'Noticia Text', serif;
  color: #5c8a8a;
  margin: 1%; }

#imageDiv {
  display: flex;
  flex-flow: row wrap; }

#thumbs {
  flex: 0 1 90%;
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (min-width: 530px) {
    #thumbs {
      flex: 0 1 30%;
      width: 100%; } }
  @media only screen and (min-width: 900px) {
    #thumbs {
      flex: 0 1 30%;
      width: 250px; } }

#thumbs img {
  margin-top: 5%;
  margin-bottom: 5px;
  width: 100%; }
  @media only screen and (min-width: 530px) {
    #thumbs img {
      width: 100%; } }
  @media only screen and (min-width: 900px) {
    #thumbs img {
      width: 100%; } }

.thumbBox {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 50%;
  flex: 0 1 49%;
  padding-left: 3px;
  padding-right: 3px; }
  @media only screen and (min-width: 530px) {
    .thumbBox {
      justify-content: space-between;
      margin: 5px;
      padding: 5px;
      flex: 0 1 90%; } }
  @media only screen and (min-width: 900px) {
    .thumbBox {
      max-width: 500px;
      flex: 0 1 90%; } }

#delete {
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive; }

#editButton {
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
  margin-top: 20px; }

h2 {
  color: #5c8a8a;
  font-family: 'Amatic SC', cursive;
  margin: 0px; }
  @media only screen and (min-width: 900px) {
    h2 {
      font-size: 200%; } }

a:link {
  text-decoration: none; }

h3 {
  color: white; }

h4 {
  font-family: 'Amatic SC', cursive;
  color: #5c8a8a;
  margin: 0px;
  text-align: right;
  font-size: 150%; }
  @media only screen and (min-width: 530px) {
    h4 {
      font-size: 150%; } }
  @media only screen and (min-width: 900px) {
    h4 {
      margin-bottom: 20px;
      font-size: 210%; } }

a {
  color: white; }

p {
  color: white;
  font-size: 14px; }
  @media only screen and (min-width: 530px) {
    p {
      font-size: 14px; } }
  @media only screen and (min-width: 900px) {
    p {
      font-size: 16px; } }
