body {
  background-image: url('./../assets/fiberGlass.png');
  background-repeat: repeat;
}

div{
  /*border-top: thick double #999999;
  border-top-width: 100%;*/
}

#content{
  display: flex;
  flex-flow: row wrap;
  justify-content: center ;
}

.photoboxMain{
  flex: 0 1 80%;
}

.photobox{
  flex: 0 0 26%;
}

.photoboxMain img{
  width: 100%;
}
.photobox img{
  width: 100%;
  max-width: 500px;
}

#singleDiv{
  flex-flow: column nowrap;
}
#main{
  width: 66%;
  flex: 0 0 66%;
}
#main img{
  max-width: 1000px;
}

#thumbs img{
  max-width: 300px;
  flex-flow: column wrap;
}

.thumbBox {
  width: 100%;
  max-width: 500px;
  flex: 0 1 25%;
}

h1 {
  color:white;
}

h2{
  color: white;
}

h3{
  color: white
}

h4 {
  color: white;
}

a {
  color: white;
}

p {
  color : white;
}