doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(type='text/css' rel='stylesheet' href='styles.css')
    title Surfer Chicks
  body
    a(href='/')
      h1 Babes who Surf
    block content