

form(method="POST" action="/gallery" enctype="application/x-www-form-urlencoded")#form1
  p title:
    input(type='text' name="title")
  br
  p description:
      textarea(rows="20" cols="80" name="description" form="form1")
  br
  p link:
    input(type='text' name="link")
  br
  button(type="submit" form="form1" value="Submit")#submit Submit