

form(method="POST" action="/gallery" enctype="application/x-www-form-urlencoded")#form1
  p title:
    input(type='text' name="title")
  br
  p description:
    input(type='text' name="description")
  br
  p link:
    input(type='text' name="link")
  br
  button(type="submit" form="form1" value="Submit")#submit Submit