extends ./../layout

block content
    h2 Register
    div#form
      form(method="POST" action="/register" enctype="application/x-www-form-urlencoded")#form1
        div#formContent
          p username:
            br
            input(type='text' size="50" name="username")
          br
          p password:
            br
            input(type='text' size="50" name="password")
          br
          p verify password:
            br
            input(type='text' size="50" name="passwordVerification")
          br
          button(type="submit" form="form1" value="Submit")#submit Submit
