extends ./../layout

block content
  h2 #{photo.title}
  img(src='#{photo.link}')
  h3 Description: #{photo.description}
  form#deleteForm(method='POST', action='/gallery/#{photo.id}')
    input(type='hidden', name='_method', value='DELETE')
    input(type='submit', value='Delete Photo')